<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation</title>
</head>
<body>
<!-- 후원용 결제 버튼 -->
<input type="number" id="amountInput" placeholder="직접 입력">
<button id="donationButton">카카오페이로 후원하기</button>

<script>
    // 결제 버튼 클릭에 따른 동작 실행
    document.getElementById('donationButton').addEventListener('click', function() {
        // 입력 금액 확인
        const amount = document.getElementById('amountInput').value;
        // 결제 요청 함수 호출
        sendDonationRequest(amount);
    });

    // 결제 요청 함수
    function sendDonationRequest(donation) {
        // 결제준비 요청
        const url = 'api/donation/ready';
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ donation: donation }) // donation으로 수정
        })
            .then(response => response.json())
            .then(data => {
                const redirectUrl = data.next_redirect_pc_url;
                const urlParams = new URLSearchParams(window.location.search);
                const pgToken = urlParams.get('pg_token');

                // 결제승인 요청
                if (pgToken) {
                    fetch(`api/donation/approve?pg_token=${pgToken}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log('결제 처리 결과:', data);
                        })
                        .catch(error => {
                            console.error('결제승인 요청 실패:', error);
                        });
                } else {
                    window.location.href = redirectUrl;
                }
            })
            .catch(error => {
                console.error('결제준비 요청 실패:', error);
            });
    }
</script>

</body>
</html>